{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!-- Pop up  -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  All information below is kept private and only to be used for contact purposes.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container m-4 vw-mob1">
	<form method="POST" class="form-group">
		{% csrf_token %}
		{{forms|crispy}}
			<label for="toa1"><a href="{% url 'terms'%}">I've read the terms and agree to the conditions</a></label>
			<input type="checkbox" id="toa1" name="toa" value="Toa" required>

		<button type="submit" class="btn btn-success">Join</button>
	</form>
</div>
{% endblock %}