{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="container m-4">
	<h1>Thank you for joining the family {{welcome}}</h1>
	<h4>You took a huge step into improvement and a life time journey into change. </h4>

	<blockquote class="m-4">
	“I found that with depression, one of the most important things you can realize is that you’re not alone. You’re not the first to go through it, you’re not gonna be the last to go through it.”<br>
	&mdash; <cite>Dwayne “The Rock” Johnson </cite> 
	</blockquote>

</div>

{% endblock %}